RAG_n8n.json
{
  "name": "RAG_n8n",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1024,
        384
      ],
      "id": "7e56fb29-7d80-4079-910b-57ef64951b5c",
      "name": "Telegram Trigger1",
      "webhookId": "82c66104-6733-4f90-ad1d-930500a4d455",
      "credentials": {
        "telegramApi": {
          "id": "naE4iudlYmeWHtzz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        928,
        352
      ],
      "id": "231741b9-f9de-4888-8670-816ec0a007d6",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -832,
        368
      ],
      "id": "4fa95f2a-6684-4fd3-8a31-091e1244a4a7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "chatId": "8245791568",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -480,
        368
      ],
      "id": "dcbac586-3b7e-4be9-b2a3-3e6e5f8bf4d3",
      "name": "Send a text message1",
      "webhookId": "55da8b79-886f-48e4-8596-e8c566da7f34",
      "credentials": {
        "telegramApi": {
          "id": "naE4iudlYmeWHtzz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use essa ferramenta para responder perguntas sobre a empresa GoodWe.",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        },
        "topK": 20
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -624,
        608
      ],
      "id": "55e15c51-9d9c-45e0-8abd-147eee208a10",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "teste"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -768,
        608
      ],
      "id": "0858cd1b-c50d-4d42-a4c1-ca6264c8a0ad",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        576
      ],
      "id": "3187a049-16c5-4150-8904-97dae14f56ef",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "url": "https://br.goodwe.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        352
      ],
      "id": "46a1c409-46dc-4400-ba99-0773b2d00d78",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "https://community.goodwe.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        672
      ],
      "id": "d570c169-72d2-4237-bcae-d4ed453db085",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "url": "https://br.goodwe.com/solutions",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        496
      ],
      "id": "9ef17b3e-8395-4e21-b9c0-c2bf4922c4a0",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "url": "https://br.goodwe.com/company-profile",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        192
      ],
      "id": "1ff68ba0-c6d7-488d-acf7-ca0dca9c1748",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "url": "https://br.goodwe.com/document-download",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        848
      ],
      "id": "b5320533-57d2-4504-88bc-23ba4766d505",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "teste"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        736,
        336
      ],
      "id": "dfa42504-f847-445a-909f-751ed1a8bcda",
      "name": "HTML"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        384
      ],
      "id": "1905e28b-fb0f-4bce-abd9-27889edf2a82",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -944,
        608
      ],
      "id": "fadb3e6c-80c0-4401-a617-8d44f7905ea6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vBXGhNsQIEmR8Vq6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        864
      ],
      "id": "a6ac5f52-9eb8-4870-b9e0-8bdb1c2ebfd3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vBXGhNsQIEmR8Vq6",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Vector Store": {
      "ai_vectorStore": [
        []
      ],
      "main": [
        []
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "724d676e-b68f-40a0-bef0-b17a8c40eaa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da5f259b7c636b6f661272979de0fbf377bcbfc17d0f03d9526ff11a04339cea"
  },
  "id": "d2Z0MUEd1opslbp0",
  "tags": []
}